.page {
  height: 100%;
  overflow: auto;
  position: relative;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #d2d2d2;
  &:hover {
    background-color: #409EFF;
  }
}

.el-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
}

.el-col {
  margin-bottom: 10px;
}

.w-full {
  width: 100%;
}